body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

.fontColor {
    color: orange;
}

.felx-container {
    display: flex;

}

.halfWidth {
    width: 50%;
    padding-left: 30px;



}

.contact-me {
    text-decoration: none;
    background: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;

    color: white;
    font-weight: 700;

}

.halfWidth img {
    width: 80%;
    padding-top: 50px;
}

.top-banner {
    background-image: url(pic/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    padding-top: 200px;
    background-image: url(pic/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;


}

.xp-dev{
    width: 40%;
    box-shadow: 10px 20px 40px gray;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10%;
}

.experience{
    background-image: url(pic/exp-bg.png);
    background-repeat: no-repeat;
}
#full-dev{
    border-left: solid tomato;
}
#baby-dev{
    border-left: solid blue;
}

footer p{
    text-align: center;
}